.container {
  width: 90%;
  margin: auto;
}
.table {
  width: 100%;
}
.card {
  width: 100%;
}
.heading {
  width: 90%;
  margin: auto;
  display: flex;
}
.heading > h2 {
  margin-right: 10%;
}
.heading > h2:nth-child(5) {
  margin-right: 0px;
}
.heading > h2:nth-child(1) {
  margin-right: 15%;
}
.page {
  margin: auto;
  display: flex;
  /* border: 1px solid red; */
  width: 100px;
  margin-bottom: 5%;
}
.page > button {
  display: block;
  height: 50%;
  margin-top: 2px;
}
.page > p {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 18px;
  margin-left: 10%;
  margin-right: 10%;
}
